<div class="row" ng-controller="CalculationsController as $ctrl">
    <!-- TODO: Make a more responsive approach -->
    <table>
        <tr>
            <td class="hidden-sm" style="width: 300px">
                
                <div style="max-height: 1000px; overflow: auto">
                    <table class="table table-striped">
                        <tbody>
                            <tr ng-repeat="calc in $ctrl.list | filter: newFilter" ng-class="calc.id == $ctrl.current.id ? 'success': ''">
                                <td>
                                    <a href="#/calculations/detail/{{ calc.id }}">
                                        <salaxy-avatar style="font-size: 50px;" avatar="calc.worker.avatar"></salaxy-avatar>
                                    </a>
                                </td>
                                <td>
                                    <a href="#/calculations/detail/{{ calc.id }}">
                                        <span ng-if="calc.worker.avatar.displayName == ''">(Työntekijää ei ole valittu)</span>
                                        <strong>{{calc.worker.avatar.displayName}}</strong><br />
                                    </a>
                                    <small>
                                        {{ calc.result.totals.totalGrossSalary | currency }},
                                        {{ calc.workflow.status == "paymentSucceeded" ? "Maksettu" : "Luonnos" }},
                                        {{ calc.workflow.paidAt ? calc.workflow.paidAt : calc.updatedAt | date }}
                                    </small>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
            <td>
                <div class="btn-group" role="group">
                    <a href="#/calculations/detail/new" type="button" class="btn btn-default">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Uusi laskelma
                    </a>
                    <a ng-href="#/calculations/detail/{{$ctrl.current.id}}" type="button" class="btn btn-default">
                        <i class="fa fa-edit" aria-hidden="true"></i>
                        Laskuri
                    </a>
                    <a ng-href="#/calculations/pro/{{$ctrl.current.id}}" type="button" class="btn btn-default">
                        <i class="fa fa-calculator" aria-hidden="true"></i>
                        Pro laskuri
                    </a>
                    <a ng-href="#/workers/detail/{{$ctrl.current.worker.accountId}}" type="button" class="btn btn-default">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        Työntekijä
                    </a>
                    <button ng-if="!calc.isReadOnly" ng-click="$ctrl.delete(calc.id)" class="btn btn-default">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                        Poista
                    </button>
                </div>
                <salaxy-calc></salaxy-calc>
            </td>
        </tr>
    </table>
</div>