﻿@charset "UTF-8";

/**
 * Variables - mainly colors - for customizing the layout for the Salaxy components 
 */

@salaxy-salary:         @brand-success;
@salaxy-person:         @brand-info;
@salaxy-work:           @brand-warning;
@salaxy-expenses:       @brand-danger;

@salaxy-header-bg:        @brand-primary;       // Modal header background
@salaxy-header-border:    @salaxy-expenses;     // Modal header bottom border
@salaxy-header-text:      white;              // Modal title text color

@salaxy-navi-header-height: 65px;
@salaxy-navi-sidebar-width: 250px;

/*
Palkkaus.fi colors - for reference:

Bootrap variable    Salaxy logical      Color in Palkkaus.fi web site (default)
---------------------------------------------------------------------------
@brand-primary                          green	    rgb(40,149,72)  #289548 
@brand-success     	@salaxy-salary      lime	    rgb(145,210,20) #91D214
@brand-info        	@salaxy-person      blue	    rgb(0,159,216)  #009FD8 
@brand-warning     	@salaxy-work        orange	    rgb(255,145,30) #FF911E
@brand-danger      	@salaxy-expenses    red	        rgb(213,85,82)  #a64544
*/