<div class="row" ng-controller="WorkersController as $ctrl">

    <!-- TODO: Make a more responsive approach -->
    <table>
        <tr>
            <td class="hidden-sm" style="width: 300px">
                <div style="max-height: 1000px; overflow: auto">
                    <table class="table table-striped">
                        <tbody>
                            <tr ng-repeat="worker in $ctrl.list" ng-class="worker.id == $ctrl.current.id ? 'success': ''">
                                <td>
                                    <a href="#/workers/taxcards/{{ worker.id }}">
                                        <salaxy-avatar style="font-size: 50px;" avatar="worker.avatar"></salaxy-avatar>
                                    </a>
                                </td>
                                <td>
                                    <a href="#/workers/taxcards/{{ worker.id }}">
                                        <strong>{{ worker.avatar.displayName }}</strong><br />
                                    </a>
                                    <small>
                                        {{worker.avatar.description == 'Auth0Database-tunnus' ? '' : worker.avatar.description}}                                
                                    </small>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
            <td>
                <div class="btn-group" role="group">
                    <a href="#/calculations/newFor/{{ $ctrl.current.id}}" type="button" class="btn btn-default">
                        <i class="fa fa-calculator" aria-hidden="true"></i> Uusi laskelma
                    </a>
                    <a ng-href="#/workers/detail/{{$ctrl.current.id}}" type="button" class="btn btn-default">
                        <i class="fa fa-edit" aria-hidden="true"></i> Tiedot
                    </a>
                    <a href="#/workers/calculations/{{$ctrl.current.id}}" class="btn btn-default">
                        <i class="fa fa-list" aria-hidden="true"></i> Laskelmat
                    </a>
                    <a href="#/workers/taxcards/{{$ctrl.current.id}}" class="btn btn-default">
                        <i class="fa fa-file" aria-hidden="true"></i> Verokortit
                    </a>
                    <a href="#/workers/employment/{{$ctrl.current.id}}" class="btn btn-default">
                        <i class="fa fa-link" aria-hidden="true"></i> Työsuhde
                    </a>
                    <a ng-href="#/workers/detail/new" class="btn btn-default">
                        <i class="fa fa-plus" aria-hidden="true"></i> Uusi työntekijä
                    </a>
                    <a ng-href="#/workers/delete/{{$ctrl.current.id}}" type="button" class="btn btn-default">
                        <i class="fa fa-trash" aria-hidden="true"></i> Poista
                    </a>
                </div>
                <h4>Nykyinen verokortti</h4>
                <div class="row">
                    <salaxy-current-tax-card></salaxy-current-tax-card>
                </div>

                <h3>Historia</h3>
                <div class="row">
                    <div class="col-xs-12">
                        <salaxy-worker-tax-cards></salaxy-worker-tax-cards>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>