<h2>Viimeisimmät laskelmat</h2>
<salaxy-calc-list limit-to="5"></salaxy-calc-list>
<h2>Viimeisimmät työntekijät</h2>
<salaxy-worker-list limit-to="5"></salaxy-worker-list>
<h2>Luo uusi laskelma</h2>
<salaxy-calc></salaxy-calc>